<div class = 'home'>
    <link rel='stylesheet' href='/syle3.css'>
<h1>How To Play</h1>

<h2>Rules:</h2>
  <h3>Hand 1 and Hand 2 pick either rock , paper or scissors.</h3>

<h3>Rock beats Scissors</h3>
<h3>Paper beats Rock</h3>
<h3>Scissors beats Paper</h3>
</div>
